@import "../../styles/variables";

.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content-area {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: $content-bg;

    .dark-mode & {
      background-color: $dark-bg; 
    }
  }
}