@import "./styles/variables";

// Set 10px to 1rem
// Browser default is 16px. 62.5% of 16px = 10px.
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem; 
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  width: 100%;

  background-color: $light-bg;
  transition: background-color 0.3s ease;
}

#root {
  height: 100%;
}

body.light-mode {
  background-color: $light-bg;
  color: #333333;
}

body.dark-mode {
  background-color: $dark-bg;
  color: #ffffff;
}